h1 {
	color: blue;
	border-bottom: solid 3px purple;
	font-family: Arial;
	margin-bottom: 50px;
}

img {
	width: 300px;
}

#description {
	color: green;
	font-weight: bold;
}

.interests {
	font-size: 10px;
	text-align: center;
}

.red-box {
	background-color: red;
	overflow: auto;
}

#seal {
	float: left;
}

#penguin {
	float: right;
	margin: 10px;
}

.inline {
	display: inline;
}